@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: hsl(207, 26%, 17%);
  min-height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
}
.container {
  width: 90vw;
  max-width: 1100px;
  margin: auto;
}
.countries {
  display: grid;
  gap: 2rem;
  padding: 4rem 0;
}
@media screen and (min-width: 576px) {
  .countries {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.loading {
  text-align: center;
  font-size: 32px;
  color: white;
  margin: 4rem 0;
}
.card {
  background: hsl(209, 23%, 22%);
  border-radius: 0.25rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: white;
  overflow: hidden;
}
.country-flag {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}

.country-info {
  padding: 2rem 1.5rem;
  text-transform: capitalize;
}
.country-info h3 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 1rem;
}

.country-info p {
  line-height: 1.6;
  font-weight: 300;
}
.country-info p span {
  font-weight: 600;
}

/* nav component */
nav {
  background-color: hsl(209, 23%, 22%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-center {
  color: white;
  padding: 1.5rem 0;
  max-width: 1110px;
  margin: auto;
}
.nav-center h2 {
  font-size: 32px;
}
/* form component */
section.form {
  padding: 8.5rem 0 0;
}
form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
input {
  width: 22rem;
  border: none;
  background-color: hsl(209, 23%, 22%);
  padding: 15px 10px 15px 50px;
  outline: none;
  color: white;
  letter-spacing: 1px;
  border-radius: 0.25rem;
}
input::placeholder {
  color: white;
  font-size: 16px;
}
select {
  width: 15rem;
  border: none;
  background-color: hsl(209, 23%, 22%);
  padding: 15px;
  color: white;
  letter-spacing: 1px;
  font-family: inherit;
}
option {
  padding-bottom: 5px;
}
